<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Introduction · GitBook</title>
  <link rel="shortcut icon" href="https://router.vuejs.org/gitbook/images/favicon.ico" type="image/x-icon">
</head>

<body class="DejaVue">
  <div class="book without-animation with-summary">
    <div class="book-summary">
      <div id="book-search-input" role="search">
        <input type="text" placeholder="輸入並搜尋">
      </div>
      <nav role="navigation">
        <ul class="summary">
          <li class="chapter active" data-level="1.1" data-path="./">
            <a href="https://router.vuejs.org/zh-cn/">
              Introduction
            </a>
          </li>
          <li class="chapter " data-level="1.2" data-path="installation.html">
            <a href="https://router.vuejs.org/zh-cn/installation.html">
                安装
            </a>
          </li>
          <li class="chapter " data-level="1.3">
            <span>
                基础
            </span>
            <ul class="articles">
              <li class="chapter " data-level="1.3.1" data-path="essentials/getting-started.html">
                <a href="https://router.vuejs.org/zh-cn/essentials/getting-started.html">
                        开始
                    </a>
              </li>
              <li class="chapter " data-level="1.3.2" data-path="essentials/dynamic-matching.html">
                <a href="https://router.vuejs.org/zh-cn/essentials/dynamic-matching.html">
                        动态路由匹配
                    </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="book-body">
      <div class="body-inner">
        <div class="book-header" role="navigation">
          <!-- Title -->
          <a class="btn pull-left js-toolbar-action" aria-label="" href="https://router.vuejs.org/zh-cn/#"><i class="fa fa-align-justify"></i></a>
          <a class="btn pull-left js-toolbar-action" aria-label="" href="https://router.vuejs.org/zh-cn/#"><i class="fa fa-edit"></i> Edit This Page</a>
          <a class="btn pull-right js-toolbar-action" aria-label="GitHub" href="https://router.vuejs.org/zh-cn/#"><i class="fa fa-github"></i></a>
          <div class="dropdown pull-right js-toolbar-action"><a class="btn toggle-dropdown" aria-label="Share" href="https://router.vuejs.org/zh-cn/#"><i class="fa fa-share-alt"></i></a>
            <div class="dropdown-menu dropdown-left">
              <div class="dropdown-caret"><span class="caret-outer"></span><span class="caret-inner"></span></div>
              <div class="buttons">
                <button class="button size-5 ">Facebook</button>
                <button class="button size-5 ">Google+</button>
                <button class="button size-5 ">Twitter</button>
                <button class="button size-5 ">Weibo</button>
                <button class="button size-5 ">Instapaper</button>
              </div>
            </div>
          </div>
          <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <a href="https://router.vuejs.org/zh-cn/">Introduction</a>
          </h1>
        </div>
        <div class="page-wrapper" tabindex="-1" role="main">
          <div class="page-inner">
            <div id="book-search-results">
              <div class="search-noresults">
                <section class="normal markdown-section">
                  <h1 id="vue-router-2">vue-router 2</h1>
                  <!--email_off-->
                  <blockquote>
                    <p>注意: vue-router@2.x 只适用于 Vue 2.x 版本。1.x 版本的文档在 <a href="https://github.com/vuejs/vue-router/tree/1.0/docs/en"
                        target="_blank">这里</a>。
                      <!--/email_off-->
                      <strong><a href="https://github.com/vuejs/vue-router/releases" target="_blank">版本说明</a></strong></p>
                  </blockquote>
                  <ul>
                    <li><a href="https://router.vuejs.org/zh-cn/installation.html">安装</a></li>
                    <li>基础
                      <ul>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/getting-started.html">开始</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/dynamic-matching.html">动态路由匹配</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/nested-routes.html">嵌套路由</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/navigation.html">编程式导航</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/named-routes.html">命名路由</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/named-views.html">命名视图</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/redirect-and-alias.html">重定向 和 别名</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/essentials/history-mode.html">HTML5 History 模式</a></li>
                      </ul>
                    </li>
                    <li>进阶
                      <ul>
                        <li><a href="https://router.vuejs.org/zh-cn/advanced/navigation-guards.html">导航钩子</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/advanced/meta.html">路由元信息</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/advanced/transitions.html">过渡动效</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/advanced/data-fetching.html">数据获取</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/advanced/scroll-behavior.html">滚动行为</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/advanced/lazy-loading.html">懒加载</a></li>
                      </ul>
                    </li>
                    <li>API 文档
                      <ul>
                        <li><a href="https://router.vuejs.org/zh-cn/api/router-link.html">router-link</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/api/router-view.html">router-view</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/api/route-object.html">路由信息对象</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/api/options.html">Router 构造配置</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/api/router-instance.html">Router 实例</a></li>
                        <li><a href="https://router.vuejs.org/zh-cn/api/component-injections.html">对组件注入</a></li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>