<section class="normal markdown-section">

  <h1 id="vue-router-2">vue-router 2</h1>
  <!--email_off-->
  <blockquote>
    <p>注意: vue-router@2.x 只适用于 Vue 2.x 版本。1.x 版本的文档在
      <a href="https://github.com/vuejs/vue-router/tree/1.0/docs/en" target="_blank">这里</a>。
      <!--/email_off-->
      <strong>
          <a href="https://github.com/vuejs/vue-router/releases" target="_blank">版本说明</a>
        </strong>
    </p>
  </blockquote>
  <ul>
    <li>
      <a href="installation.html">安装</a>
    </li>
    <li>基础
      <ul>
        <li>
          <a href="essentials/getting-started.html">开始</a>
        </li>
        <li>
          <a href="essentials/dynamic-matching.html">动态路由匹配</a>
        </li>
        <li>
          <a href="essentials/nested-routes.html">嵌套路由</a>
        </li>
        <li>
          <a href="essentials/navigation.html">编程式导航</a>
        </li>
        <li>
          <a href="essentials/named-routes.html">命名路由</a>
        </li>
        <li>
          <a href="essentials/named-views.html">命名视图</a>
        </li>
        <li>
          <a href="essentials/redirect-and-alias.html">重定向 和 别名</a>
        </li>
        <li>
          <a href="essentials/history-mode.html">HTML5 History 模式</a>
        </li>
      </ul>
    </li>
    <li>进阶
      <ul>
        <li>
          <a href="advanced/navigation-guards.html">导航钩子</a>
        </li>
        <li>
          <a href="advanced/meta.html">路由元信息</a>
        </li>
        <li>
          <a href="advanced/transitions.html">过渡动效</a>
        </li>
        <li>
          <a href="advanced/data-fetching.html">数据获取</a>
        </li>
        <li>
          <a href="advanced/scroll-behavior.html">滚动行为</a>
        </li>
        <li>
          <a href="advanced/lazy-loading.html">懒加载</a>
        </li>
      </ul>
    </li>
    <li>API 文档
      <ul>
        <li>
          <a href="api/router-link.html">router-link</a>
        </li>
        <li>
          <a href="api/router-view.html">router-view</a>
        </li>
        <li>
          <a href="api/route-object.html">路由信息对象</a>
        </li>
        <li>
          <a href="api/options.html">Router 构造配置</a>
        </li>
        <li>
          <a href="api/router-instance.html">Router 实例</a>
        </li>
        <li>
          <a href="api/component-injections.html">对组件注入</a>
        </li>
      </ul>
    </li>
  </ul>

</section>